<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Feeds>
    <Feed>
      <Url>https://habr.com/rss/interesting/</Url>
      <MustBeShown>true</MustBeShown>
    </Feed>
    <Feed>
      <Url>http://news.rambler.ru/rss/world/</Url>
      <MustBeShown>true</MustBeShown>
    </Feed>
    <Feed>
      <Url>http://news.yandex.ru/Japan/index.rss/</Url>
      <MustBeShown>true</MustBeShown>
    </Feed>
  </Feeds>
  <UseTags>true</UseTags>
  <RefreshInterval>3210</RefreshInterval>
</Settings>